#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.register-icon {
  width: 200px;
  height: auto; 
}

.text-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
}

.card {
  padding: 20px;
  background-color: #f0f0f0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text-container h2 {
  margin-top: 0;
}

.event-title{
  margin-top: 0;
}

.text-container p {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-inputs {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.event-button {
  background-color: #94a3b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
}
.event-button-save {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
}

.event-button:hover {
  background-color: #0056b3;
}

.not-found-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #93e1ea;
  color: white;
  padding: 10px 0;
  z-index: 100;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: rgb(7, 7, 7);
  text-decoration: none;
}

.grid-container-event {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.event {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}


@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;

  }
  .grid-container-event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .text-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card {
    padding: 20px;
    background-color: #f0f0f0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

@media screen and (max-width: 500px) {
  .grid-container-event {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
